{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Flashcards</h1>
    <div class="button-container">
        <a href="/new_deck"><button>New Deck</button></a>
        <a href="/add-card"><button>Add Card</button></a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for deck in decks %}
        <tr>
            <td>{{ deck.name }}</td>
            <td class="action"><a href="">Study</a></td>
            <td class="action"><a href="/update-deck/{{ deck.id }}">Edit</a></td>
            <td class="action"><a href="/delete-deck/{{ deck.id }}" onclick="return confirm('Are you sure you want to delete this deck?');">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}