{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
    <h1>Rename Deck</h1>
    <div class="form-container">
        <form action="" method="POST">
            <div class="form-group">
                {{ render_field(deck_form.old_name, class="form-field") }}
            </div>
            <div class="form-group">
                {{ render_field(deck_form.new_name, class="form-field") }}
            </div>
            <input type="submit" value="ADD" class="button">
        </form>
    </div>
{% endblock %}